<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="graphity-processor" version="3.0">
    <display-name>Graphity Processor</display-name>
    <description>Generic Linked Data processor</description>
    <context-param>
        <param-name>http://atomgraph.com/processor/ns#restrictionsQuery</param-name>
        <param-value><![CDATA[
PREFIX gp:	<http://graphity.org/gp#>
PREFIX rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX owl:	<http://www.w3.org/2002/07/owl#>
PREFIX rdfs:	<http://www.w3.org/2000/01/rdf-schema#>
PREFIX sioc:	<http://rdfs.org/sioc/ns#>

SELECT *
{
    ?Template a rdfs:Class ; # not necessarily a gp:Template
        rdfs:subClassOf ?Restriction .
    ?Restriction a owl:Restriction ;
        owl:onProperty ?onProperty .
    {
        ?Restriction owl:allValuesFrom ?allValuesFrom
    }
    UNION
    {
        ?Restriction owl:allValuesFrom [ a owl:Class ;
            owl:unionOf [
                rdf:rest*/rdf:first ?allValuesFrom
            ]
        ]
    }
}
]]></param-value>
    </context-param>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.graphity.server.Application</param-value>
        </init-param>
        <init-param>
	    <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>org.graphity.server.filter.response.HypermediaFilter</param-value>
	</init-param>
        <!--
        <init-param>
            <param-name>http://www.w3.org/ns/sparql-service-description#endpoint</param-name>
            <param-value>http://graphity.dydra.com/graphity/processor/sparql</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/g#graphStore</param-name>
            <param-value>http://graphity.dydra.com/graphity/processor/service</param-value>
        </init-param>
        <init-param>
            <param-name>http://jena.hpl.hp.com/Service#queryAuthUser</param-name>
            <param-value>username</param-value>
        </init-param>
        <init-param>
            <param-name>http://jena.hpl.hp.com/Service#queryAuthPwd</param-name>
            <param-value>password</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/g#preemptiveAuth</param-name>
            <param-value>true</param-value>
        </init-param>
        -->
        <init-param>
            <param-name>http://atomgraph.com/processor/ns#dataset</param-name>
            <param-value>/org/graphity/processor/dataset.trig</param-value>
        </init-param>
        <init-param>
            <param-name>http://www.w3.org/ns/ldt#ontology</param-name>
            <param-value>http://graphity.org/gps#</param-value>
        </init-param>
        <init-param>
            <param-name>http://atomgraph.com/processor/ns#sitemapRules</param-name>
            <param-value><![CDATA[
[inh:   (?class rdf:type <http://www.w3.org/2000/01/rdf-schema#Class>), (?class ?p ?o), (?p rdf:type <http://www.w3.org/ns/ldt#InheritedProperty>), (?p rdfs:isDefinedBy <http://www.w3.org/ns/ldt#>), (?subClass rdfs:subClassOf ?class), (?subClass rdf:type <http://www.w3.org/2000/01/rdf-schema#Class>), noValue(?subClass ?p) -> (?subClass ?p ?o) ]
[arg1:  (?template rdf:type <http://www.w3.org/ns/ldt#Template>), (?template <http://www.w3.org/ns/ldt#param> ?arg), (?arg rdf:type <http://www.w3.org/ns/ldt#Argument>), (?arg <http://www.w3.org/ns/ldt#tunnel> 'true'^^xsd:boolean), (?subTemplate rdfs:subClassOf ?template), (?subTemplate rdf:type <http://www.w3.org/ns/ldt#Template>), noValue(?subTemplate <http://www.w3.org/ns/ldt#param>) -> (?subTemplate <http://www.w3.org/ns/ldt#param> ?arg)]
[arg2:  (?template rdf:type <http://www.w3.org/ns/ldt#Template>), (?template <http://www.w3.org/ns/ldt#param> ?arg), (?arg rdf:type <http://www.w3.org/ns/ldt#Argument>), (?arg <http://www.w3.org/ns/ldt#tunnel> 'true'^^xsd:boolean), (?subTemplate rdfs:subClassOf ?template), (?subTemplate rdf:type <http://www.w3.org/ns/ldt#Template>), (?arg <http://spinrdf.org/spl#predicate> ?predicate), (?subTemplate <http://www.w3.org/ns/ldt#param> ?subArg), noValue(?template <http://www.w3.org/ns/ldt#param> ?subArg), noValue(?subArg <http://spinrdf.org/spl#predicate> ?predicate) -> (?subTemplate <http://www.w3.org/ns/ldt#param> ?arg), print(?template, ?subTemplate, ?arg, ?subArg, ?predicate)]
[rdfs9: (?x rdfs:subClassOf ?y), (?a rdf:type ?x) -> (?a rdf:type ?y)]
]]></param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>http://atomgraph.com/processor/ns#cacheSitemap</param-name>
            <param-value>false</param-value>
        </init-param>
        -->
        <init-param>
            <param-name>http://graphity.org/g#resultLimit</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>