<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="graphity-processor" version="3.0">
    <display-name>Graphity Processor</display-name>
    <description>Generic Linked Data processor</description>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.graphity.processor.ApplicationBase</param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>http://www.w3.org/ns/sparql-service-description#endpoint</param-name>
            <param-value>http://graphity.dydra.com/graphity/processor/sparql</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/g#graphStore</param-name>
            <param-value>http://graphity.dydra.com/graphity/processor/service</param-value>
        </init-param>
        <init-param>
            <param-name>http://jena.hpl.hp.com/Service#queryAuthUser</param-name>
            <param-value>username</param-value>
        </init-param>
        <init-param>
            <param-name>http://jena.hpl.hp.com/Service#queryAuthPwd</param-name>
            <param-value>password</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/g#preemptiveAuth</param-name>
            <param-value>true</param-value>
        </init-param>
        -->
        <init-param>
            <param-name>http://graphity.org/gp#datasetLocation</param-name>
            <param-value>/org/graphity/processor/dataset/dataset.trig</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/gp#sitemap</param-name>
            <param-value>http://graphity.org/gps#</param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/gp#templatesQuery</param-name>
            <param-value><![CDATA[
PREFIX gp:	<http://graphity.org/gp#>
PREFIX rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX owl:	<http://www.w3.org/2002/07/owl#>
PREFIX rdfs:	<http://www.w3.org/2000/01/rdf-schema#>
PREFIX sioc:	<http://rdfs.org/sioc/ns#>

CONSTRUCT
{
    ?Template a owl:Class, gp:Template ;
        # ?AnnotationProperty ?value ;
        gp:uriTemplate ?uriTemplate ;
        gp:query ?query ;
        gp:template ?construct ;
        gp:subClassOf ?subClassOf ; # for debug purposes
        gp:subClassOf1 ?subClassOf1 ; # for debug purposes
        # rdfs:subClassOf ?Restriction ;
        rdfs:isDefinedBy ?isDefinedBy .
    #?Restriction a owl:Restriction ;
    #    owl:onProperty ?onProperty .
}
{
    # ?Template rdfs:subClassOf* foaf:Document
    ?Template a owl:Class, gp:Template ;
        rdfs:isDefinedBy ?isDefinedBy .
    #?AnnotationProperty a owl:AnnotationProperty ;
    #    rdfs:isDefinedBy gp: .
    # three levels of annotation inheritance:
    {
        ?Template gp:uriTemplate ?uriTemplate .
    }
    UNION
    {
       FILTER NOT EXISTS { ?Template gp:uriTemplate ?TemplateUriTemplate . } 
       ?Template rdfs:subClassOf ?subClassOf .
       ?subClassOf gp:uriTemplate ?uriTemplate .
    }
    UNION
    {
       FILTER NOT EXISTS { ?Template gp:uriTemplate ?TemplateUriTemplate . } 
       FILTER NOT EXISTS { ?subClassOf gp:uriTemplate ?subClassOfUriTemplate . } 
       ?Template rdfs:subClassOf ?subClassOf .
       ?subClassOf rdfs:subClassOf ?subClassOf1 .
       ?subClassOf1 gp:uriTemplate ?uriTemplate .
    }
    {
        ?Template gp:query ?query .
    }
    UNION
    {
       FILTER NOT EXISTS { ?Template gp:query ?TemplateQuery . } 
       ?Template rdfs:subClassOf ?subClassOf .
       ?subClassOf gp:query ?query .
    }
    UNION
    {
       FILTER NOT EXISTS { ?Template gp:query ?TemplateQuery . } 
       FILTER NOT EXISTS { ?subClassOf gp:query ?subClassOfQuery . } 
       ?Template rdfs:subClassOf ?subClassOf .
       ?subClassOf rdfs:subClassOf ?subClassOf1 .
       ?subClassOf1 gp:query ?query .
    }
    {
        ?Template gp:query ?query .
    }
    UNION
    {
       FILTER NOT EXISTS { ?Template gp:query ?TemplateQuery . } 
       ?Template rdfs:subClassOf ?subClassOf .
       ?subClassOf gp:query ?query .
    }
    UNION
    {
       FILTER NOT EXISTS { ?Template gp:query ?TemplateQuery . } 
       FILTER NOT EXISTS { ?subClassOf gp:query ?subClassOfQuery . } 
       ?Template rdfs:subClassOf ?subClassOf .
       ?subClassOf rdfs:subClassOf ?subClassOf1 .
       ?subClassOf1 gp:query ?query .
    }
    OPTIONAL
    {
        {
            ?Template gp:template ?construct .
        }
        UNION
        {
           FILTER NOT EXISTS { ?Template gp:template ?TemplateConstruct . } 
           ?Template rdfs:subClassOf ?subClassOf .
           ?subClassOf gp:template ?construct .
        }
        UNION
        {
           FILTER NOT EXISTS { ?Template gp:template ?TemplateConstruct . } 
           FILTER NOT EXISTS { ?subClassOf gp:template ?subClassOfConstruct . } 
           ?Template rdfs:subClassOf ?subClassOf .
           ?subClassOf rdfs:subClassOf ?subClassOf1 .
           ?subClassOf1 gp:template ?construct .
        }
    }
    # FILTER (?AnnotationProperty IN (gp:uriTemplate, gp:query, gp:template))
    FILTER (?Template != gp:SPARQLEndpoint)
    FILTER (?Template != gp:GraphStore)
    # FILTER (isURI(?query) || isBlank(?query))
    # FILTER (isURI(?construct) || isBlank(?construct))
    # FILTER isLiteral(?uriTemplate)
}
]]></param-value>
        </init-param>
        <init-param>
            <param-name>http://graphity.org/gp#restrictionsQuery</param-name>
            <param-value><![CDATA[
PREFIX gp:	<http://graphity.org/gp#>
PREFIX gpl:	<http://graphity.org/gpl#>
PREFIX rdf:     <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX owl:	<http://www.w3.org/2002/07/owl#>
PREFIX rdfs:	<http://www.w3.org/2000/01/rdf-schema#>
PREFIX sioc:	<http://rdfs.org/sioc/ns#>

SELECT *
{
    # ?Template rdfs:subClassOf* foaf:Document
    ?Template a owl:Class, gp:Template ;
        rdfs:subClassOf ?Restriction .
    ?Restriction a owl:Restriction ;
        owl:onProperty ?onProperty .
    FILTER (?Template != gpl:GraphContainer)
    FILTER (?onProperty IN (sioc:has_parent, sioc:has_container))
    # ?onProperty a owl:ObjectProperty .
    {
        ?Restriction owl:allValuesFrom ?allValuesFrom
    }
    UNION
    {
        ?Restriction owl:allValuesFrom [ a owl:Class ;
            owl:unionOf [
                rdf:rest*/rdf:first ?allValuesFrom
            ]
        ]
    }
}
]]></param-value>
        </init-param>
        <!--
        <init-param>
            <param-name>http://graphity.org/gp#cacheSitemap</param-name>
            <param-value>false</param-value>
        </init-param>
        -->
        <init-param>
            <param-name>http://graphity.org/g#resultLimit</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>